/*
** Thème personnalisé - Profil musicien
**
** Thème 1
*/

body{
    background: url(/files/1/perso/titre_objectifs.png) repeat #000000;
} 
	
aside#right{
    background-color: #945b94;
} 
	
.content a{
    color: #8f598f;
} 
	
p.head-title, p.head-title span{
    color: #f283f2;
}