



/* --------- GENERAL CI  --------- */
.checkbox-style input[type="checkbox"]:checked + label{  }
input[type='file'], input[type='button'], input[type='submit']{ cursor:pointer; }

#codeigniter_profiler{ overflow:scroll; }

/* --------- FIN DE GENERAL CI  --------- */



body{ margin:0; padding:0; font-family:"Trebuchet MS", Arial, sans-serif; background:#f9f9f9; z-index:2; }
#page{ margin:0 auto; width:980px; }
#contentAll{ margin:0 0 0 20px; width:770px; float:left; }
#breadcrumbs{ margin:0 0 0 12px; width:100%; height:23px; }
#breadcrumbs ul{ display:inline-block; }
#breadcrumbs li{ display:inline-block; line-height:20px; }
#breadcrumbs li a{ text-decoration:none; font-size:10px; color:#858585; }
#breadcrumbs li a:hover{ text-decoration:underline; color:#2ab395; }
#breadcrumbs li:after{ margin:0px 6px; width:9px; height:23px; display:inline-block; content:''; vertical-align:middle; background:url("../images/common/breadcrumbs_arrow.png") no-repeat; }
.bt_noir{ height:30px; float:left; margin:5px 0 0 8px; }
.bt_noir .bt_left{ width:10px; height:30px; float:left; background:url("../images/common/bt_noir.png") no-repeat 0px -10px; }
.bt_noir .bt_middle{ height:16px; float:left; background:url("../images/common/bt_noir.png") no-repeat 0px -60px; font-size:12px; color:white; padding:7px 0; }
.bt_noir .bt_right{ width:9px; height:30px; float:left; background:url("../images/common/bt_noir.png") no-repeat -391px -107px; }



/* --------- MUSICIEN - ACTUS  --------- */

#cover{ width:770px; height:176px; position:relative; border-top:1px solid #d9dadb; background:url("../images/musicien/cover.jpg") no-repeat; }
#infos-cover{ margin:0; padding:0; width:100%; height:68px; position:absolute; bottom:0; background:rgba(255, 255, 255, 0.3); }
#infos-cover h2{ margin:5px 0 0 360px; padding:0; font-size:30px; color:#ffffff; float:left; }
#infos-cover a{ margin:-2px 0 0 10px; padding:0; font-family:Arial, "Trebuchet MS"; font-size:14px; text-decoration:none; color:#ffffff; float:left; clear:both; }
#infos-cover a .button_left{ display:block; width:22px; height:30px; background:url("../images/common/sprite_btn_suivre.png") no-repeat 0 -60px; float:left; }
#infos-cover a .button_center{ padding:0 10px 0 0; display:block; height:30px; line-height:28px; font-weight:bold; background:url("../images/common/sprite_btn_suivre.png") repeat-x 0 -30px; float:left; }
#infos-cover a .button_right{ display:block; width:32px; height:30px; background:url("../images/common/sprite_btn_suivre.png") no-repeat -77px 0; float:left; }

#stats-cover{ padding:0 21px; width:176px; height:33px; -webkit-border-bottom-right-radius:10px; -webkit-border-radius-bottom-left-radius:10px; -moz-border-radius-bottomright:10px; -moz-border-radius-bottomleft:10px; border-bottom-right-radius:10px; border-bottom-left-radius:10px; background:#e6e6e6; float:left; }
#stats-cover .stats_cover_block:first-child{ margin:4px 0 0 0px; }
#stats-cover .stats_cover_block{ margin:4px 0 0 18px; height:29px; float:left; }
#stats-cover .stats_number{ margin:1px 0 0 0; font-weight:bold; font-size:14px; color:#2ab395; float:left; }
#stats-cover .stats_title{ font-size:10px; font-weight:bold; text-transform:uppercase; color:#3f3f3f; float:left; clear:both; }

.actus_post{ margin:12px 0 0 0; width:540px; height:134px; background:#e6e6e6; float:left; clear:both; }
.actus_post_links{ margin:12px 0 0 7px; float:left; }
.actus_post_links a{ margin:0 0 0 10px; padding:0 4px; height:20px; line-height:20px; display:inline-block; font-size:13px; font-weight:bold; text-decoration:none; color:#737578; background:transparent; }
.actus_post_links a:hover, .actus_post_links a:active{ height:20px; display:inline-block; text-decoration:none; background:#cccccc; }
.actus_post textarea{ margin:2px 17px; padding:2px 5px; width:494px; height:54px; resize:none; font-family:"Trebuchet MS", Arial, sans-serif; color:#535353; }
.actus_post input[type="submit"]{ margin:0 16px 0 0; width:62px; height:32px; border:none; font-size:11px; color:#ffffff; background:url("../images/common/btn_validate.png") no-repeat transparent; float:right; }
.actus_post input[type="submit"]:hover{ cursor:pointer; }

.content{ margin:10px 0 10px 0; padding:0; width:541px; background:#e6e6e6; float:left; clear:both; }
.empty{ width:100%; height:12px; background:#f9f9f9; float:left; clear:both; }
.artist_post{ margin:8px 20px; width:500px; height:auto; position:relative; float:left; }
.artist_post .top{ width:100%; height:16px; }
.artist_post .top img{ display:block; position:absolute; right:2px; top:17px; width:14px; height:14px; float:right; }
.artist_post .left{ width:45px; height:100%; float:left; clear:both; }
.artist_post .left img{ display:block; position:relative; width:43px; height:43px; right:5px; }
.artist_post .right{ padding:11px 0 0 0; width:455px; background:#f9f9f9; float:left; }
.artist_post .right .ico_citation{ margin:0 8px 0 22px; display:inline-block; width:24px; height:19px; background:url("../images/common/ico_cite.png") no-repeat; float:left; }
.artist_post .right .msg_post{ padding:0 0 20px 0; display:inline-block; width:370px; font-weight:normal; font-size:13px; color:#535353; float:left; }
.artist_post .right .msg_post a{ font-weight:bold; text-decoration:none; color:#31a58c; }
.artist_post .right .msg_post a:hover{ text-decoration:underline; }
.artist_post .right img.single{ display:block; width:455px; height:256px; overflow:hidden; float:left; clear:both; }
.artist_post .right img.mosaic{ margin:0 5px 10px 5px; display:inline-block; width:135px; height:135px; overflow:hidden; float:left; }
.artist_post .right img.mosaic.first{ margin:0 0 10px 20px; }
.artist_post .right img.mosaic.last{ margin:0 20px 10px 0; }
.artist_post .right .new_songs{ margin:0 0 15px 22px; width:402px; float:left; clear:both; }
.artist_post .right .new_songs a{ margin:0 0 5px 0; line-height:19px; font-weight:bold; font-size:14px; text-decoration:none; color:#7f7d7d; float:left; clear:both; }
.artist_post .right .new_songs a:hover{ color:#31a58c; }
.artist_post .right .new_songs a .btn_play{ margin:0 5px 0 3px; display:block; width:19px; height:19px; background:url("../images/common/btn_play.png") no-repeat; float:left; }
.artist_post .right .post_article img{ margin:0 0 15px 22px; display:block; width:96px; height:96px; float:left; }
.artist_post .right .post_article a{ margin:10px 0 0 27px; font-weight:bold; font-size:14px; text-decoration:none; color:#31a58c; float:left; }
.artist_post .right .post_article a:hover{ text-decoration:underline; }
.artist_post .right .post_article p{ margin:7px 0 0 27px; display:block; width:275px; line-height:14px; font-weight:normal; font-size:12px; color:#535353; float:left; }
.artist_post .bottom{ width:455px; height:100%; background:#cccccc; float:right; clear:both; }
.artist_post .bottom .infos_publi{ margin:0 0 0 8px; padding:0; font-size:10px; display:inline-block; height:16px; line-height:16px; vertical-align:middle; color:#737578; float:left; }
.artist_post .bottom .infos_coms{ margin:0 8px 0 0; padding:0; font-size:10px; display:inline-block; height:16px; line-height:16px; vertical-align:middle; color:#737578; float:right; }
.artist_post .bottom .infos_coms a{ text-decoration:none; color:#737578; }
.artist_post .bottom .infos_coms a:hover{ text-decoration:underline; color:#31a58c; }

.artist_post .comments{ width:455px; position:relative; left:45px; background:#ffffff; float:left; clear:both; }
.artist_post .comments .com_left{ width:62px; height:100%; float:left; }
.artist_post .comments .com_left img{ margin:4px; display:block; }
.artist_post .comments .com_right{ width:393px; float:left; }
.artist_post .comments .com_right .com_top{ width:100%; float:left; }
.artist_post .comments .com_right .com_top a{ margin:1px 2px 0 0; display:block; float:right; }
.artist_post .comments .com_right .com_bottom{ margin:-2px 0 10px 0; width:353px; float:left; clear:both; }
.artist_post .comments .com_publi_infos{ display:block; font-size:12px; font-weight:bold; color:#3f3f3f; float:left; clear:both; }
.artist_post .comments .com_publi_infos small{ font-size:10px; }
.artist_post .comments .com_publi_msg{ margin:2px 0 0 0; display:block; font-size:12px; color:#707070; float:left; clear:both; }

.artist_post .form_comments{ margin:3px 0 0 0; width:457px; position:relative; left:44px; float:left; }
.artist_post .form_comments input[type="text"]{ padding:0 0 0 15px; display:inline-block; width:440px; height:38px; position:relative; font-size:12px; border:1px solid #c1c1c1; color:#909090; float:left; }
.artist_post .form_comments input[type="submit"]{ display:inline-block; width:64px; height:28px; position:absolute; right:6px; top:5px; border:1px solid #d85342; font-size:12px; font-weight:bold; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; color:#ffffff; background:#f05f4c; float:left; -moz-box-shadow:1px 1px 2px 1px #c2c2c2; -webkit-box-shadow:1px 1px 2px 1px #c2c2c2; -o-box-shadow:1px 1px 2px 1px #c2c2c2; box-shadow:1px 1px 2px 1px #c2c2c2; filter:progid:DXImageTransform.Microsoft.Shadow(color=#c2c2c2, Direction=134, Strength=2); }

/* --------- FIN  DE MUSICIEN - ACTUS  --------- */



/* --------- MUSICIEN - CONCERTS  --------- */

/*.content{ background:#e6e6e6; margin:10px 0 10px 0; float:left; padding:0; width:541px; clear:both; }*/
.content #btn_tmp{ width:191px; margin:0 20px; padding:20px 0; }
.content #btn_tmp a{ float:left; }
.content h2{ font-size:20px; margin:25px 20px; clear:both; }
.content p{ font-size:14px; margin:0 0 0 20px; font-weight:bold; }
.content .date-heure{ clear:both; }
.content hr{ color:#888d95; width:499px; margin:10px auto; }
.content .infos_concert{ width:302px; margin:0 0 0 20px; float:left; }
.content .calendrier{ background:url("../images/musicien/calendrier.png") no-repeat; width:50px; height:50px; float:left; }
.content .infos_concert p{ margin:3px; color:#5d5d5b; font-size:14px; }
.content .infos_concert .mois{ margin:5px 17px; font-size:9px; color:white; position:absolute; }
.content .infos_concert .jour{ margin:20px 9px; font-size:24px; font-family:georgia; position:absolute; }
.content .infos_concert img{ float:left; }
.content .adr_concert{ width:196px; float:left; margin:0 0px; }
.content .adr_concert p{ margin:3px; color:#5d5d5b; font-size:14px; }
.content .adr_concert .adr_lieu{ margin:3px; color:#5d5d5b; font-size:14px; font-weight:bold; }
.content .adr_concert .adr_rue{ margin:3px; font-size:12px; }
.content .adr_concert .adr_ville{ margin:3px; font-size:12px; }
.content .adr_concert img{ float:left; }
.content .more{ color:#3c495a; font-size:14px; font-family:'Trebuchet MS'; display:block; margin:30px 20px; float:left; }
.content .participer{ margin:25px 30px 0 150px; padding:0; font-family:Arial, "Trebuchet MS"; font-size:14px; text-decoration:none; color:#ffffff; float:left; }
.content .participer .button_left{ display:block; width:22px; height:30px; background:url("../images/common/sprite_btn_participer.png") no-repeat 0 -61px; float:left; }
.content .participer .button_center{ padding:0 10px 0 0; display:block; height:30px; line-height:28px; font-weight:bold; background:url("../images/common/sprite_btn_participer.png") repeat-x 0 -31px; float:left; }
.content .participer .button_right{ display:block; width:32px; height:30px; background:url("../images/common/sprite_btn_participer.png") no-repeat -77px -1px; float:left; }

.bt_ajout_concert{ width:125px; height:30px; float:left; margin:3px 0 0 198px; }
.content .info_sup{ width:539px; margin:10px 0 0 0; float:left; clear:both; background:#d3d3d3; padding:5px 0 0 0; border:1px solid #c3c3c3; }
.content .info_sup .informations{ width:287px; float:left; margin-bottom : 10px; }
.content .info_sup .nom_date{ font-size:16px; font-family:'Trebuchet MS'; margin:5px 0 0 20px; color:#4e4e4e; }
.content .info_sup .lieu_salle{ font-size:14px; font-family:'Trebuchet MS'; margin:15px 0 0 20px; color:#4e4e4e; }
.content .info_sup .lieu_rue{ font-size:14px; font-family:'Trebuchet MS'; margin:5px 0 0 20px; color:#4e4e4e; }
.content .info_sup .lieu_ville{ font-size:14px; font-family:'Trebuchet MS'; margin:5px 0 0 20px; color:#4e4e4e; }
.content .info_sup .tel{ font-size:14px; font-family:'Trebuchet MS'; margin:15px 0 0 20px; color:#4e4e4e; }
.content .info_sup .site{ font-size:14px; font-family:'Trebuchet MS'; margin:5px 0 0 20px; color:#4e4e4e; }
.content .info_sup .partager{ font-size:12px; font-family:'Trebuchet MS'; margin:15px 0 0 20px; color:#4e4e4e; }
.content .partage_reseaux{ margin:5px 0 0 25px; color:#4e4e4e; width:114px; }
.content .partage_reseaux span{ display:inline-block; text-indent:-50000px; }
.content .partage_reseaux .twitter{ width:30px; height:29px; margin:0; padding:0; background:url('../images/musicien/sprite_info_sup.png') -7px -10px; }
.content .partage_reseaux .facebook{ width:30px; height:29px; margin:0; padding:0; background:url('../images/musicien/sprite_info_sup.png') -48px -10px; }
.content .partage_reseaux .google{ width:30px; height:29px; margin:0; padding:0; background:url('../images/musicien/sprite_info_sup.png') -90px -10px; }
.content #plan_google{ width:233px; height:198px; float:left; margin:0 0 0 10px; margin-bottom : 10px;}
.content .edition{ float:right; margin:-16px 20px 0 0; }
.content .edition span{ margin:0 5px 0 5px; display:inline-block; text-indent:-50000px; }
.content .edition .edit{ background:url('../images/musicien/sprite_edition.png') -10px -6px; width:14px; height:14px; }
.content .edition .suppr{ background:url('../images/musicien/sprite_edition.png') -28px -6px; width:14px; height:14px; }

.pagination{ clear:both; height:47px; width:200px; margin:15px 0 25px 0; padding:0 22%; float:left; }
.pagination a{ height:17px; width:8px; background:url("../images/common/sprite_pagination.png") no-repeat; margin:0 0; border:0; padding:15px 10px; float:left; display:block; }
.pagination a span{ text-indent:-50000px; display:inline-block; }
.pagination #precedent{ background-position:-2px 0px; }
.pagination .page{ background-position:-38px 0px; color:#7e7e7e; text-decoration:none; }
.pagination #suivant{ background-position:-79px 0px; }
.pagination .page:hover{ background-position:-38px -49px; color:white; }

/* --------- FIN  DE MUSICIEN - CONCERTS  --------- */



/* --------- MUSICIEN PHOTO ET VIDEO --------- */
.content .col1{ width:160px; }
.content .col1 .img_cover{width:160px;}
.content .box{ margin:5px; padding:5px 5px 0; /*max-width:150px; */ background:#D8D5D2; font-size:11px; line-height:1.4em; float:left; display:block; }
.content .photo{ background:white; margin:5px; text-align:center;-moz-box-shadow: 1px 1px 1px 1px #9b9b9b;-webkit-box-shadow: 1px 1px 1px 1px #aaa;-o-box-shadow: 1px 1px 1px 1px #9b9b9b;box-shadow: 1px 1px 1px 1px #9b9b9b; }
.content .photo .pochette{ width:139px; margin:10px 10px 5px 10px; min-height:214px; }
.content .photo .img_miniat{ width:45px; margin:0; }
.content .photo a{ text-decoration:none; }
.content .photo a:hover{ text-decoration:underline; color:#4d4d4d; }
.content .photo p{ margin:0 10px 5px; color:#4d4d4d; font-size:12px; font-weight:bold; }
.content .photo .bord_photo{ background:#f2f0f0; margin:0 -5px; height:25px; text-align:left;}
.content .photo .bord_photo p{ margin:0 10px 0; display:inline; font-size:10px; color:#878d95; }
.content .photo .bord_photo a:hover{ text-decoration:none; }
.content .photo .nom_photo{ width:138px; text-align:left; }
.content .photo .bord_photo img{ margin:0 5px 0 15px; display:inline; }
.content .photo .bord_photo .nb_like{ margin:0; }
.content .photo .comm{ width:170px; margin:0 -5px; background:#f2f0f0; border-bottom:1px solid #cdcdcd; border-top:none; min-height:34px; }
.content .photo .comm img{ float:left; margin:5px; height:24px; }
.content .photo .comm .del{ float:right; margin:5px 5px; height:14px; }
.content .photo .comm p{ margin:0; text-align:left; }
.content .photo .comm .name_comm{ font-size:10px; color:#595959; }
.content .photo .comm .commentaire{ font-size:10px; color:#888d95; }
.content .photo .comm input[type=text]{ float:left; width:112px; border:1px solid #dfdede; margin:5px 0; }
.content .photo .comm input[type=image]{ clear:both; width:48px; margin:0 0 0 58px; }
.content .photo .edit{ background:rgba(36, 36, 36, 0.7); width:158px; height:22px; position:absolute; margin:0; }
.content .photo .edit img{ float:right; margin:4px 8px 0 0; }
.content .photo .open_alb{ background:rgba(255, 255, 255, 0.5); width:158px; height:228px; position:absolute; margin:22px 0; }
.content .photo .open_alb img{ padding:35% 0; }

/*.box .img_cover, #tumblelog .img_cover{ display:block; width:100%; }*/

/* --------- FIN MUSICIEN PHOTO ET VIDEO --------- */


/* ---------- POP IN ------------- */

.pop-in{width:510px;height:349px;background:#eff4f3;padding:31px 0 75px;border:1px solid #bbbbbb;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.pop-in p{margin:0 15px 31px;float:left;font-size:18px;color:#4e4e4e;}
.pop-in img{margin-left:315px;float:left}
.content-pi {background:#fafafa;width:510px;height:233px;padding: 25px 0;border:1px solid #e0e4e6;border-left:none;border-right:none;clear:both;}
.content-pi .label {width:123px;padding:0 12px 0 0;float:left;margin:15px 0 0 0;text-align:right;font-size:16px;color:#4e4e4e;}
.content-pi .label img{width:85px;height:73px;margin-left:40px;}
.content-pi .champs {width:306px;float:left;margin:15px 0 0 12px;}
.content-pi .champs input{width:296px;padding:0 5px;outline:none}
.content-pi .champs select{width:296px;padding:0 0 0 5px;outline:none}
.content-pi .champs .descript-vid{width:296px;padding:0 5px;height:73px;outline:none;word-break:break-word;}
.content-pi input[type="submit"]{clear:both;width: 80px;height: 30px;margin: 10px 145px;background:url('../images/common/bt-rouge.png');color:white;}

/* --------------- FIN POP IN ----------- */



/* --------- PORTAIL  --------- */

#coverflow{ background:url("../images/portail/bg-coverflow.png") no-repeat; height:364px; }

#coverflow #coverflow-alaune{ position:absolute; }
#coverflow #coverflow-left{ float:left; position:absolute; margin-top:60px; margin-left:55px; }
#coverflow #coverflow-center{ float:left; position:absolute; margin-top:32px; margin-left:274px; }				 
#coverflow-right{ float:left; position:absolute; margin-top:60px; margin-left:544px; }
#coverflow .coverflow-img{ opacity:0.6; filter:alpha(opacity=60); box-shadow:0 0 7px 3px #2B2B2B; }
#coverflow .coverflow-img2{ box-shadow:0 0 7px 3px #2B2B2B; }
#coverflow .coverflow-img-player{ background-color:#737373; opacity:0.5; margin-top:177px; height:60px; position:absolute; width:238px; }
#coverflow .coverflow-center-artiste{ text-align:center; margin-top:10px; font-family:'Myriad Pro'; font-size:13px; text-shadow:0px -2px #000000; color:white; }
#coverflow .coverflow-center-slide{ margin-top:7px; margin-right:5px; }

#coverflowContainer{ padding:45px 0 0 0; background:url("../images/portail/bg-coverflow2.png") no-repeat; width:100%; height:364px; }
.caroufredsel_wrapper{ margin:0 auto !important; }
#coverflow2{ width:770px; height:364px; }
#coverflow2 a{ display:block; float:left; width:188px; height:188px; margin:0 15px; text-decoration:none; text-align:center; position:relative; }
#coverflow2 a img{ display:block; float:left; width:100%; height:100%; }
#coverflow2 a .coverflow_artist{ text-align:center; margin-top:10px; font-family:'Myriad Pro'; font-size:13px; color:white; }
#coverflow2 a .coverflow_player{ background-color:#737373; opacity:0.5; width:100%; height:60px; position:absolute; left:0; }
#paginationContainer{ display:block; width:100%; margin:0 auto; text-align:center; }
#paginationContainer #pagination{ display:inline-block; margin:0 auto; text-align:center; }
#paginationContainer #pagination-prev{ display:inline-block; width:12px; height:12px; color:transparent; background:url("../images/portail/slide.png") no-repeat 0 0; cursor:pointer; }
#paginationContainer #pagination-next{ display:inline-block; width:12px; height:12px; color:transparent; background:url("../images/portail/slide.png") no-repeat -95px 0; cursor:pointer; }
#coverflowContainer #pagination a{ display:block; float:left; width:15px; height:12px; margin:0 1px; text-indent:-9999px; color:transparent; background:url("../images/portail/slide.png") no-repeat -12px 0; }
#coverflowContainer #pagination a.selected{ background-position:-44px 0; }
#coverflowContainer #pagination a:hover{ background-position:-44px 0; }


#first-line{ width:100%; }

#first-line-top-song{ float:left; position:absolute; height:180px; width:346px; }
#first-line-top-calendar{ float:left; position:absolute; margin-left:370px; height:180px; width:213px; }
#first-line-top-newbies{ float:left; position:absolute; margin-left:599px; height:180px; width:171px; }

/*#top-song-title, #newbies-title, #calendar-title{ font-family:"Trebuchet MS"; font-size:20px; color:#3f3f3f; width:200px; }*/
.title-color{ color:#2ab395; }
.title-color-bold{ color:#2ab395; font-weight:bold; }

/*#top-song-title .title-img{ }*/

#top-song-title{ font-family:"Trebuchet MS"; font-size:20px; color:#3f3f3f; width:200px; float:left; position:absolute; width:346px; }
#calendar-title{ font-family:"Trebuchet MS"; font-size:20px; color:#3f3f3f; width:200px; float:left; position:absolute; margin-left:370px; width:213px; }					 
#newbies-title{ font-family:"Trebuchet MS"; font-size:20px; color:#3f3f3f; float:left; position:absolute; margin-left:599px; width:171px; }


#top-song-play-one{ position:absolute; margin-top:33px; box-shadow:-1px 0 1px 1px #EDEDED; border-left:1px solid #dedede; border-top:1px solid #dedede; border-bottom:1px solid #dedede; width:175px; }
#top-song-play-two{ position:absolute; margin-left:175px; margin-top:33px; box-shadow:1px 0 1px 1px #EDEDED; border-right:1px solid #dedede; border-left:1px solid #dedede; border-top:1px solid #dedede; border-bottom:1px solid #dedede; width:175px; }

#first-line-top-song #tab-top-song-col-number{ position:absolute; width:25px; color:#7f7d7d; font-weight:bold; border-right:1px solid #dedede; height:27px; padding-top:8px; text-align:center; font-size:21px; }
#first-line-top-song #tab-top-song-col-texte{ margin-left:25px; color:#7f7d7d; font-size:12px; height:35px; }
#first-line-top-song .tab-top-song-col-texte-img{ position:absolute; margin-top:8px; margin-left:5px; }
#first-line-top-song .tab-top-song-col-texte-titre{ position:absolute; color:#7f7d7d; font-size:12px; margin-left:28px; margin-top:6px; }
#first-line-top-song .tab-top-song-col-texte-artiste{ color:#7f7d7d; font-size:10px; }

#first-line-top-song #tab-top-song-line-white{ background-color:#f6f6f6;  height:35px; }
#first-line-top-song #tab-top-song-line-grey{ background-color:#e6e6e6; height:35px; border-top:1px solid #dedede; border-bottom:1px solid #dedede; }
#first-line-top-song #tab-top-song-col-one{ width:175px; border-right:1px solid #dedede; height:35px; }
#first-line-top-song #tab-top-song-col-two{ margin-left:175px; width:175px; height:43px; border-right:1px solid #dedede; }
/*
#top-song-play table{ float:left; position:absolute; height:185px; width:345px; margin-top:40px; box-shadow:0 0 1px 1px #EDEDED; border:1px solid #dedede;  }

#top-song-play .ten{ padding-right:10px; width:30px; font-size:21px; text-indent:9px; color:#7f7d7d; font-weight:bold; border-left:1px solid #dedede; border-right:1px solid #dedede; padding-top:8px}
#top-song-play .top-title{ width:150px; padding-left:10px; font-size:12px; color:#7f7d7d; vertical-align:middle; }
#top-song-play .top-title-img{ position:asbolute; margin-left:5px; padding-top:5px; }
#top-song-play #top-title-text{ position:asbolute;  width:20px; }
#top-song-play .top-title .top-artist{ font-size:10px; color:#7f7d7d; text-indent:23px; }
#top-song-play .grey{ background-color:#e6e6e6; }
#top-song-play .white{ background-color:#f6f6f6; }
*/
#calendar-content{ float:left; position:absolute; margin-left:370px; height:185px; width:213px; margin-top:33px; }
					 
#newbies-content{ float:left; position:absolute; margin-left:599px; height:181px; width:171px; background-color:#e6e6e6; margin-top:33px; }
#newbies-content #newbies-one{ float:left; height:45px; width:100%; background-color:#e6e6e6; }

#newbies-content .newbies-picture{ position:absolute; margin-top:4px; margin-left:4px; }
#newbies-content .newbies-people{ position:absolute; font-family:"Trebuchet MS"; color:#3f3f3f; margin-top:10px; font-weight:600; font-size:13px; margin-left:47px; }
#newbies-content .newbies-people-type{ color:#72797f; font-size:11px; font-weight:normal; }
#wall-flux{ float:left; position:relative; margin-top:250px; margin-bottom:12px; width:579px; background-color:#e6e6e6; }
.wall-flux-content{ margin:13px; width:550px; background-color:#f6f6f6; padding-bottom:1px; }
.wall-flux-content .img-blog{ width:550px; margin-top:7px; margin-bottom:2px; }
.wall-flux-content .img-blog-artiste{ width:550px; font-family:"Trebuchet MS"; margin-top:7px; margin-bottom:20px; }

.wall-flux-content .wall-flux-content-title{ font-size:18px; color:#3f3f3f; margin:5px 19px 5px 19px; padding-top:20px; word-wrap:break-word; }
.wall-flux-content .wall-flux-content-subtitle{ font-size:13px; color:#8d8c80; margin:0px 19px 19px 19px; word-wrap:break-word; }
.wall-flux-content .wall-flux-content-titre-artiste{ margin:19px 19px 5px 19px; color:#535353 ; padding-top:15px; font-size:13px; }
.wall-flux-content .wall-flux-content-text{ font-size:14px; line-height:21px; color:#555555; margin:10px 19px 19px 19px; word-wrap:break-word; }
.wall-flux-content .wall-flux-content-text .wall-flux-content-text-chapeau{ font-weight:bold; }
.wall-flux-content .wall-flux-content-right-text{ margin-left:185px; padding-bottom:20px; }
.wall-flux-content .wall-flux-content-left-picture .img-blog-artiste-carre{ position:absolute; margin :19px 15px 15px 15px; }
.wall-flux-content .wall-flux-content-goto-profile{ color:#f05f4c; font-size:14px; float:right; margin-top:-17px; margin-right:20px; padding:10px; } 
/*#e6e6e6*/

/* ----- CALENDAR PORTAIL ------- */
 ui-datepicker{ width:212px; height:175px; margin:5px auto 0; font:9pt Arial, sans-serif; }  

.ui-datepicker a{ /*margin-left:10px; */text-decoration:none; color:#4d5155; font-family:"Trebuchet MS"; font-weight:bold; font-size:11px; text-align:center; }  
.ui-datepicker table{ border-spacing:0px; width:212px; padding:0px; height:151px; border-top-left-radius:3px; border-top-right-radius:3px; /* box-shadow:0px 0px 5px 5px #888; */ /*border-bottom:1px solid #e6e6e6;  */ border-left:1px solid #e6e6e6; }  
.ui-datepicker th{ padding:0; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; }
.ui-datepicker-header{ background-color:#e6e6e6; color:#4d5155; font-size:12px; font-family:"Trebuchet MS"; font-weight:bold; height:28px; border:1px solid #e4e5e7; border-top-left-radius:3px; border-top-right-radius:3px; } 
.ui-datepicker-title{ margin-top:7px; text-transform:uppercase; text-align:center; } 
.ui-datepicker-prev, .ui-datepicker-next{ width:28px; background-repeat:no-repeat; display:inline-block; cursor:pointer; height:28px; text-align:center; overflow:hidden; line-height:600%; }
.ui-datepicker-prev{ float:left; background-position:6px 7px; background-image:url('../images/calendar/narrow-suiv.png'); }  
.ui-datepicker-next{ float:right; background-position:8px 7px; background-image:url('../images/calendar/narrow-next.png'); }   
.ui-datepicker tbody td{ border-right:1px solid #e6e6e6; text-align:center; font-family:"Trebuchet MS"; border-bottom:1px solid #e6e6e6; color:#cccfd3; font-weight:bold; padding-top:11px; font-size:11px; }   
.ui-datepicker tbody td:last-child{ /* border-right:0px; */}  
.ui-datepicker tbody tr{ border-bottom:1px solid #e6e6e6; padding:0px; }  
.ui-datepicker-calendar .ui-state-hover{ color:#D1D1D1; }
.ui-datepicker-calendar .ui-state-active{ color:#EF7363; }
.css_jour_evenement{ background-image:url('../images/calendar/red_arrow.png'); background-repeat:no-repeat ; background-position:top right }

/* --------- FIN  DE PORTAIL  --------- */



/* --------- INSCRIPTION --------- */
body.inscription{ background:url('../images/subscription/bkg_subscription.png') no-repeat; background-size:cover; background-position:0px -100px; }
/*#any-background-inscription{ display:block; width:100%; height:825px;height:978px; background:url('../images/subscription/bkg_subscription.png') no-repeat; background-size:cover; background-position:0px -100px; }*/
#any-background-inscription{ margin:85px 0; width:100%; float:left; }
h1#title-subscription, h1#title-identification{ padding:0; display:block; text-align:center; font-family:'Rockwell'; font-weight:bold; font-size:39px; color:#3f3f3f; }

.step-form{ margin:50px 0 0 242px; width:470px; float:left; 
    background-color:#ededed; border:5px solid rgba(217, 233, 229, 0.6); -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e8e8e8', endColorstr = '#f1f1f1');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e8e8e8', endColorstr = '#f1f1f1')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image:-moz-linear-gradient(top, #ededed, #f1f1f1);
    background-image:-ms-linear-gradient(top, #ededed, #f1f1f1);
    background-image:-o-linear-gradient(top, #ededed, #f1f1f1);
    background-image:-webkit-gradient(linear, center top, center bottom, from(#ededed), to(#f1f1f1));
    background-image:-webkit-linear-gradient(top, #ededed, #f1f1f1);
    background-image:linear-gradient(top, #ededed, #f1f1f1);
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    /*Use "background-clip:padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
    /*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
    -moz-box-shadow:1px -3px 10px 0px #999999; -webkit-box-shadow:1px -3px 10px 0px #999999; -o-box-shadow:1px -3px 10px 0px #999999; box-shadow:1px -3px 10px 0px #999999; filter:progid:DXImageTransform.Microsoft.Shadow(color=#999999, Direction=18, Strength=10);


}

.step-form .step-head{ padding:5px 0 8px 0; width:100%; background:#e9e9e9; float:left; }
.step-form h2{ text-align:center; font-family:"Trebuchet MS"; font-weight:bold; font-size:18px; color:#3f3f3f; }
.step-form #state-step{ margin:5px auto; width:123px; }
.step-form #state-step span{ display:inline-block; width:41px; height:22px; background-image:url('../images/subscription/sprite_form_steps.png'); float:left; }
.step-form #state-step span.current{ background-position:-41px 0; }
.step-form #state-step span.current.first{ background-position:0 -22px; }
.step-form #state-step span.current.last{ background-position:-82px -22px; }
.step-form #state-step span.checked{ background-position:-41px -22px; }
.step-form #state-step span.checked.first{ background-position:0 0; }
.step-form #state-step span.disable{ background-position:-41px -44px; }
.step-form #state-step span.disable.last{ background-position:-82px 0; }

.step-form form{ margin:10px 0 0 0; padding:20px 30px 35px 30px; position:relative; float:left; clear:both; }
.step-form form p{ font-family:"Trebuchet MS"; font-weight:bold; font-size:12px; color:#6b6b6b; float:left; }
.step-form form #fb-subscription{ margin:0.5em 0 1em 0; width:100%; float:left; clear:both; }
.step-form form hr{ margin:0 0 20px 0; display:block; width:100%; height:1.5px; border-top:none; border-right:none; border-bottom:1px solid #f8f8f8; border-left:none; background:#e9e9e9; float:left; }
.step-form form p.sub-text-mail, .step-form form p.sub-text-type{ margin:0 0 12px 0; clear:both; }
.step-form form p.sub-text-inscrit{ margin:25px 0 0 0; display:block; float:right; clear:both; }
.step-form form p.sub-text-inscrit a{ font-family:"Trebuchet MS"; font-weight:bold; font-size:13px; color:#262626; text-decoration:none; }
.step-form form p.sub-text-inscrit a:hover{ text-decoration:underline; }
.step-form form p.choix-text{ margin:0 auto; padding:0.5em 0; display:block; width:100%; text-align:center; clear:both; }
.step-form form p.choix-text a, .step-form form p.choix-text a:active{ text-decoration:none; color:inherit; }
.step-form form p.choix-text a:hover{ text-decoration:underline; }
span.error-form{ margin:5px 0 17px 0; display:block; width:89%; font-family:"Trebuchet MS"; font-weight:bold; font-size:12px; color:#e04e4e; float:left; }
form + .error-form{ padding:0 0 0 30px; }

.step-form form .user_fb_sub{ margin:0 auto 20px auto; height:50px; width:208px; text-align:center; }
.step-form form .user_fb_sub p{ display:inline-block; line-height:50px; float:left; }
.step-form form .user_fb_sub img{ margin:0 0 0 25px; display:inline-block; float:left; }

.step-form form .ico-placeholder{ margin-top:-55px; width:26px; height:23px; display:inline-block; position:relative; /*top:-35px;*/ right:10px; background:url('../images/subscription/sprite_form_placeholder.png') no-repeat 0 0 transparent; float:right; z-index:10; }
.step-form form .ico-placeholder.username{ background-position:0 0; }
.step-form form .ico-placeholder.nomscene{ background-position:0 -69px; }
.step-form form .ico-placeholder.email{ background-position:0 -23px; }
.step-form form .ico-placeholder.password{ background-position:0 -46px; }

.step-form form label{ font-family:'Myriad Pro'; font-weight:normal; font-size:17px; color:#6b6b6b; float:left; clear:both; }
.step-form form .checkbox-style label{ margin:7px 0 2px 15px; font-family:"Trebuchet MS"; font-size:14px; color:#7f7d7d; }
.step-form form .label_big{ margin:0 0 0.6em 0; display:block; font-family:"Trebuchet MS"; font-weight:bold; font-size:17px; color:#6b6b6b; float:left; }
.step-form form input{ float:left; clear:both; }
.step-form form input[type="text"], .step-form form input[type="password"], .step-form form input[type="mail"]{ margin:0 0 20px 0; padding:0 10px; display:block; width:390px; height:48px; position:relative; font-size:17px; font-family:'Myriad Pro'; border:1px solid #cccccc; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; outline:none; color:#999999; background:#FFFFFF; }

.step-form form input[type="submit"], .step-form form button.back{ background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #717171), color-stop(1, #686868) ); background:-moz-linear-gradient( center top, #717171 5%, #686868 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#717171', endColorstr='#686868'); background-color:#717171; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #676767; display:inline-block; color:#ffffff; font-family:Trebuchet MS; font-size:15px; font-weight:bold; padding:8px 24px; text-decoration:none; float:right; clear:none; }
.step-form form input[type="submit"]:hover, .step-form form button.back:hover{ background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #686868), color-stop(1, #717171) ); background:-moz-linear-gradient( center top, #686868 5%, #717171 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#686868', endColorstr='#717171'); background-color:#686868; cursor:pointer; }
.step-form form input[type="submit"]:active{ position:relative; top:1px; }
.step-form form button.back{ display:inline-block; float:left; clear:both;  }

.step-form #type-user{ margin:0 0 15px 0; width:100%; float:left; }
.step-form #type-user a.melomane.active{ display:inline-block; width:203px; height:123px; float:left; }
.step-form #type-user a.musicien{ display:inline-block; width:209px; height:123px; float:left; }
.step-form #type-user span{ display:block; width:209px; height:123px; background:url('../images/subscription/sprite_choix_compte.png') no-repeat 0 0 transparent; }
.step-form #type-user a.melomane.active span{ background-position:0 0; }
.step-form #type-user a.musicien span{ background-position:-203px 0; }
.step-form #type-user span.change-type{ margin:0 auto; display:block; width:32px; height:22px; position:relative; top:50px; background-position:0px -127px; z-index:50; }

.step-form #type-user input[type="checkbox"]{ display:none; float:left; }
.step-form #type-user input[type="checkbox"] + label{ display:inline-block; width:205px; height:123px; cursor:pointer; color:transparent; float:left; clear:none !important; }
.step-form #type-user input[type="checkbox"] + label:before{ content:""; display:inline-block; width:209px; height:123px; color:transparent; background:url('../images/subscription/sprite_choix_compte2.png') no-repeat -205px 0 transparent; float:left; }
.step-form #type-user input[type="checkbox"].check_typeaccount_1 + label:before{ background-position: 0 -162px; }
.step-form #type-user input[type="checkbox"].check_typeaccount_2 + label:before{ background-position: -205px 0; }
.step-form #type-user input[type="checkbox"]:checked.check_typeaccount_1 + label:before{ background-position:0 0; }
.step-form #type-user input[type="checkbox"]:checked.check_typeaccount_2 + label:before{ background-position:-205px -162px; }

.step-form select{ margin:0 0 24px 0; padding:0 0 0 6px; display:block; width:412px; height:48px; position:relative; font-size:17px; font-family:'Myriad Pro'; border:1px solid #cccccc; outline:none; color:#999999; background:#FFFFFF; float:left; }
.step-form p.choix-stylemusic{ float:left; clear:both; }
.step-form .checkbox-style{ margin:0 0 20px 0; width:411px; height:115px; position:relative; font-size:17px; font-family:'Myriad Pro'; border:1px solid #cccccc; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; color:#999999; background:#FFFFFF; float:left; clear:both; overflow-y:scroll; }
/*.step-form .checkbox-group{ width:33%; float:left; }*/

.step-form .checkbox-style input[type="checkbox"]{ display:none; }
.step-form .checkbox-style input[type="checkbox"] + label span{ display:inline-block; width:14px; height:14px; margin:-3px 22px 0 0; vertical-align:middle; background:url('../images/common/sprite_checkbox.png') 0 0 no-repeat; cursor:pointer; }
.step-form .checkbox-style input[type="checkbox"]:checked + label span{ background:url('../images/common/sprite_checkbox.png') 0 -16px no-repeat; }

#subscription-upload{ margin:0 0 60px 0; display:block; width:100%; float:left; clear:both; }
#subscription-upload label{ margin:-10px 0 0.4em 0; font-weight:normal; float:left; clear:none; }
#subscription-upload .container-cover + label{ margin:-15px 0 0.4em 0; font-weight:normal; float:right; clear:none; }
.step-form .upload_images{ display:block; width:409px; height:150px; background:url('../images/subscription/upload_images2.png') no-repeat; float:left; clear:both; }
.step-form .upload-file-container{ display:block; width:161px; height:29px; float:left; cursor:pointer; position:relative; }
.step-form .upload-file-container:hover{ background-position:0 -29px; cursor:pointer; }
.step-form .upload-file-container.container-cover{ background:url('../images/subscription/sprite_button_file_cover.png') 0 0 no-repeat; clear:both; }
.step-form .upload-file-container.container-thumb{ margin:-20px 10px 0 0; width:147px; background:url('../images/subscription/sprite_button_file_thumb.png') no-repeat; float:right; clear:both; }
.step-form input[type="file"]{ display:block; width:161px; height:29px; float:left; filter:alpha(opacity=0); opacity:0; position:absolute; left:0; top:0; cursor:pointer; }
/* --------- FIN  D'INSCRIPTION'  --------- */


/* --------- MUSICIEN MUSIQUE --------- */

.content .a_la_une {margin:0 20px 20px;width:172px;float:left;}
.content .a_la_une .bandeau_top{position:absolute;margin:-175px 0;}
.content .player{position:absolute;background:rgba(115,115,115,0.68);width: 172px;height: 42px;margin: -44px 0;}
.content .player img{margin:8px 70px;}
.content .a_la_une .infos{margin:0;}
.content .a_la_une .infos p{margin:0;color:#2f2f2f;font-weight:normal;}
.content .a_la_une .infos p span{color:#45baa0;}
.content .a_la_une .infos .title{font-weight:bold;}
.content .a_la_une .infos .annee_crea{margin:0;color:#888d95;font-size:12px;}
.content .a_la_une .infos a{margin:0;color:#3c495a;font-size:12px;}

.content .top_album{float:left;}
.content .top_album a{color:#888d95;font-size:12px;text-decoration:none;}
.content .top_album p{display:inline;margin:0;font-weight:normal;}
.content .top_album img{display:inline;width:12px;margin:0 0 0 5px;}
.content .top_album .liste_titres{width:308px;border:1px solid #909395;border-radius:4px;margin:0 0 10px 0;}
.content .top_album .liste_titres tr{border-bottom:1px solid #cbcbcb;}
.content .top_album .liste_titres .en_tete{width:308px;height:35px;background:#e9ebec;border-radius:4px;}
.content .top_album .liste_titres .en_tete tr{border:none;text-align:center;font-weight:bold;font-size:14px;}
.content .top_album .liste_titres .en_tete .check{width:20px;height:21px;padding:7px 3px 0 3px;}
.content .top_album .liste_titres .en_tete .le_titre{width:300px;height:21px;padding:0 3px;}
.content .top_album .liste_titres .en_tete .duree{width:15px;height:21px;padding:0 15px;}
.content .top_album .liste_titres .titres{width:308px;background:white;border-top:1px solid #cbcbcb;border-bottom-left-radius:4px;border-bottom-right-radius:4px}
.content .top_album .liste_titres .titres .check{width:20px;height:21px;padding:7px 3px 0 3px;border-right:1px solid #cbcbcb}
.content .top_album .liste_titres .titres .le_titre{width:300px;height:21px;padding:0 3px;border-right:1px solid #cbcbcb;color:#555555; font-size:12px;}

.content .top_album .liste_titres .titres .le_titre .miniat_titre {display:inline;}
.content .top_album .liste_titres .titres .le_titre .miniat_titre a{width:17px;height:13px;display:inline;margin:0 2px 0 0;display:block;float:right;}
.content .top_album .liste_titres .titres .le_titre .miniat_titre span{display:inline-block; text-indent: -5000px;}
.content .top_album .liste_titres .titres .le_titre .miniat_titre .cam{background:url('../images/common/sprite_edit_titre.png') 0px -2px;}
.content .top_album .liste_titres .titres .le_titre .miniat_titre .coeur{background:url('../images/common/sprite_edit_titre.png') -20px -2px;}
.content .top_album .liste_titres .titres .le_titre .miniat_titre .edit{background:url('../images/common/sprite_edit_titre.png') -37px -2px;}
.content .top_album .liste_titres .titres .le_titre .miniat_titre .add{background:url('../images/common/sprite_edit_titre.png') -56px -2px;}
.content .top_album .liste_titres .titres .le_titre .miniat_titre .cadis{background:url('../images/common/sprite_edit_titre.png') -76px -3px;}

.content .top_album .liste_titres .titres .le_titre .miniat_titre .cam:hover{background-position:0px -22px;}
.content .top_album .liste_titres .titres .le_titre .miniat_titre .coeur:hover{background-position:-20px -22px;}
.content .top_album .liste_titres .titres .le_titre .miniat_titre .edit:hover{background-position:-37px -22px;}
.content .top_album .liste_titres .titres .le_titre .miniat_titre .add:hover{background-position:-56px -22px;}
.content .top_album .liste_titres .titres .le_titre .miniat_titre .cadis:hover{background-position:-76px -23px;}

.content .top_album .liste_titres .titres .le_titre .play{width:17px;margin:-2px 0;}
.content .top_album .liste_titres .titres .duree{width:15px;height:21px;padding:0 15px;color:#555555; font-size:12px;}

.content .bt_cadis{float:right;width:93px;height:30px;background:url('../images/common/bt_cadis.png');border:none;color:white;padding:0 0 0 25px;font-weight:bold;font-size:14px;}
.content .bt_playlist{float:right;width:145px;height:30px;background:url('../images/common/bt_playlist.png');border:none;color:white;padding:0 0 0 20px;font-weight:bold;font-size:14px;margin:0 10px 0 0;}

.content .tout_titre{margin:20px 20px 20px;}
.content .tout_titre p{display:inline;margin:0;font-weight:normal;}
.content .tout_titre img{display:inline;width:12px;margin:0 0 0 5px;}
.content .tout_titre a{color:#888d95;font-size:12px;text-decoration:none;}
.content .tout_titre .liste_titres{width:500px;border:1px solid #909395;border-radius:4px;margin:20px 0 10px 0;}
.content .tout_titre .liste_titres tr{border-bottom:1px solid #cbcbcb;}
.content .tout_titre .liste_titres .en_tete{width:500px;height:35px;background:#e9ebec;border-radius:4px;}
.content .tout_titre .liste_titres .en_tete tr{border:none;text-align:center;font-weight:bold;font-size:14px;}
.content .tout_titre .liste_titres .en_tete .check{width:20px;height:21px;padding:7px 3px 0 3px;}
.content .tout_titre .liste_titres .en_tete .le_titre{width:280px;height:21px;padding:0 3px;}
.content .tout_titre .liste_titres .en_tete .duree{width:15px;height:21px;padding:0 5px;}
.content .tout_titre .liste_titres .en_tete .album{width:15px;height:21px;padding:0 25px;}
.content .tout_titre .liste_titres .titres{width:500px;background:white;border-top:1px solid #cbcbcb;border-bottom-left-radius:4px;border-bottom-right-radius:4px}
.content .tout_titre .liste_titres .titres .check{width:20px;height:21px;padding:7px 3px 0 3px;border-right:1px solid #cbcbcb}
.content .tout_titre .liste_titres .titres .le_titre{width:280px;height:21px;padding:0 3px;border-right:1px solid #cbcbcb;color:#555555; font-size:12px;}
.content .tout_titre .liste_titres .titres .duree{border-right:1px solid #cbcbcb;}
.content .tout_titre .liste_titres .titres .album{font-size:12px;color:#555555;padding:0 17px;}

.content .tout_titre .liste_titres .titres .le_titre .miniat_titre {display:inline;}
.content .tout_titre .liste_titres .titres .le_titre .miniat_titre a{width:17px;height:13px;display:inline;margin:0 2px 0 0;display:block;float:right;}
.content .tout_titre .liste_titres .titres .le_titre .miniat_titre span{display:inline-block; text-indent: -5000px;}
.content .tout_titre .liste_titres .titres .le_titre .miniat_titre .cam{background:url('../images/common/sprite_edit_titre.png') 0px -2px;}
.content .tout_titre .liste_titres .titres .le_titre .miniat_titre .coeur{background:url('../images/common/sprite_edit_titre.png') -20px -2px;}
.content .tout_titre .liste_titres .titres .le_titre .miniat_titre .edit{background:url('../images/common/sprite_edit_titre.png') -37px -2px;}
.content .tout_titre .liste_titres .titres .le_titre .miniat_titre .add{background:url('../images/common/sprite_edit_titre.png') -56px -2px;}
.content .tout_titre .liste_titres .titres .le_titre .miniat_titre .cadis{background:url('../images/common/sprite_edit_titre.png') -76px -3px;}

.content .tout_titre .liste_titres .titres .le_titre .miniat_titre .cam:hover{background-position:0px -22px;}
.content .tout_titre .liste_titres .titres .le_titre .miniat_titre .coeur:hover{background-position:-20px -22px;}
.content .tout_titre .liste_titres .titres .le_titre .miniat_titre .edit:hover{background-position:-37px -22px;}
.content .tout_titre .liste_titres .titres .le_titre .miniat_titre .add:hover{background-position:-56px -22px;}
.content .tout_titre .liste_titres .titres .le_titre .miniat_titre .cadis:hover{background-position:-76px -23px;}

.content .tout_titre .liste_titres .titres .le_titre .play{width:17px;margin:-2px 0;}
.content .tout_titre .liste_titres .titres .duree{width:15px;height:21px;padding:0 15px;color:#555555; font-size:12px;}

/* --------- FIN MUSICIEN MUSIQUE  --------- */

/* --------- MUSICIEN PARTITIONS ------------*/

.content .top_partition{float:left;}
.content .top_partition a{color:#888d95;font-size:12px;text-decoration:none;}
.content .top_partition p{display:inline;margin:0;font-weight:normal;}
.content .top_partition img{display:inline;width:12px;margin:0 0 0 5px;}
.content .top_partition .liste_partitions{width:308px;border:1px solid #909395;border-radius:4px;margin:0 0 10px 0;}
.content .top_partition .liste_partitions tr{border-bottom:1px solid #cbcbcb;}
.content .top_partition .liste_partitions .en_tete{width:308px;height:35px;background:#e9ebec;border-radius:4px;}
.content .top_partition .liste_partitions .en_tete tr{border:none;text-align:center;font-weight:bold;font-size:14px;}
.content .top_partition .liste_partitions .en_tete .check{width:20px;height:21px;padding:7px 3px 0 3px;}
.content .top_partition .liste_partitions .en_tete .le_titre{width:300px;height:21px;padding:10px 3px;}
.content .top_partition .liste_partitions .en_tete .paroles{width:15px;height:21px;padding:0 15px;}
.content .top_partition .liste_partitions .en_tete .partitions{width:15px;height:21px;padding:0 15px;}
.content .top_partition .liste_partitions .titres{width:308px;background:white;border-top:1px solid #cbcbcb;border-bottom-left-radius:4px;border-bottom-right-radius:4px}
.content .top_partition .liste_partitions .titres .check{width:20px;height:21px;padding:7px 3px 0 3px;border-right:1px solid #cbcbcb}
.content .top_partition .liste_partitions .titres .le_titre{width:140px;height:18px;padding:5px 3px;border-right:1px solid #cbcbcb;color:#555555; font-size:12px;}

.content .top_partition .liste_partitions .titres .paroles .miniat_titre {display:inline;}
.content .top_partition .liste_partitions .titres .paroles .miniat_titre a{width:17px;height:13px;display:inline;margin:0 2px 0 0;display:block;float:right;}
.content .top_partition .liste_partitions .titres .paroles .miniat_titre span{display:inline-block; text-indent: -5000px;}
.content .top_partition .liste_partitions .titres .paroles .miniat_titre .edit{background:url('../images/common/sprite_edit_titre.png') -37px -2px;}

.content .top_partition .liste_partitions .titres .paroles .miniat_titre .edit:hover{background-position:-37px -22px;}

.content .top_partition .liste_partitions .titres .le_titre .play{width:17px;margin:-2px 0;}
.content .top_partition .liste_partitions .titres .paroles{width:55px;height:21px;padding:0 10px;color:#555555; font-size:12px;border-right:1px solid #cbcbcb;}

.content .top_partition .liste_partitions .titres .partitions .miniat_titre {display:inline;}
.content .top_partition .liste_partitions .titres .partitions .miniat_titre a{width:17px;height:13px;display:inline;margin:0 2px 0 0;display:block;float:right;}
.content .top_partition .liste_partitions .titres .partitions .miniat_titre span{display:inline-block; text-indent: -5000px;}
.content .top_partition .liste_partitions .titres .partitions .miniat_titre .edit{background:url('../images/common/sprite_edit_titre.png') -37px -2px;}
.content .top_partition .liste_partitions .titres .partitions .miniat_titre .cadis{background:url('../images/common/sprite_edit_titre.png') -76px -3px;}

.content .top_partition .liste_partitions .titres .partitions .miniat_titre .edit:hover{background-position:-37px -22px;}
.content .top_partition .liste_partitions .titres .partitions .miniat_titre .cadis:hover{background-position:-76px -23px;}
.content .top_partition .liste_partitions .titres .partitions{width:95px;height:21px;padding:0 5px;color:#555555; font-size:12px;}

.content .bt_cadis{float:right;width:93px;height:30px;background:url('../images/common/bt_cadis.png');border:none;color:white;padding:0 0 0 25px;font-weight:bold;font-size:14px;}
.content .bt_playlist{float:right;width:145px;height:30px;background:url('../images/common/bt_playlist.png');border:none;color:white;padding:0 0 0 20px;font-weight:bold;font-size:14px;margin:0 10px 0 0;}

.content .toutes_partitions{float:left;}
.content .toutes_partitions a{color:#888d95;font-size:12px;text-decoration:none;}
.content .toutes_partitions p{display:inline;margin:0;font-weight:normal;}
.content .toutes_partitions img{display:inline;width:12px;margin:0 0 0 5px;}
.content .toutes_partitions .liste_partitions{width:308px;border:1px solid #909395;border-radius:4px;margin:0 0 10px 0;}
.content .toutes_partitions .liste_partitions tr{border-bottom:1px solid #cbcbcb;}
.content .toutes_partitions .liste_partitions .en_tete{width:308px;height:35px;background:#e9ebec;border-radius:4px;}
.content .toutes_partitions .liste_partitions .en_tete tr{border:none;text-align:center;font-weight:bold;font-size:14px;}
.content .toutes_partitions .liste_partitions .en_tete .check{width:20px;height:21px;padding:7px 3px 0 3px;}
.content .toutes_partitions .liste_partitions .en_tete .le_titre{width:300px;height:21px;padding:10px 3px;}
.content .toutes_partitions .liste_partitions .en_tete .paroles{width:15px;height:21px;padding:0 15px;}
.content .toutes_partitions .liste_partitions .en_tete .partitions{width:15px;height:21px;padding:0 15px;}
.content .toutes_partitions .liste_partitions .titres{width:308px;background:white;border-top:1px solid #cbcbcb;border-bottom-left-radius:4px;border-bottom-right-radius:4px}
.content .toutes_partitions .liste_partitions .titres .check{width:20px;height:21px;padding:7px 3px 0 3px;border-right:1px solid #cbcbcb}
.content .toutes_partitions .liste_partitions .titres .le_titre{width:140px;height:18px;padding:5px 3px;border-right:1px solid #cbcbcb;color:#555555; font-size:12px;}

.content .toutes_partitions .liste_partitions .titres .paroles .miniat_titre {display:inline;}
.content .toutes_partitions .liste_partitions .titres .paroles .miniat_titre a{width:17px;height:13px;display:inline;margin:0 2px 0 0;display:block;float:right;}
.content .toutes_partitions .liste_partitions .titres .paroles .miniat_titre span{display:inline-block; text-indent: -5000px;}
.content .toutes_partitions .liste_partitions .titres .paroles .miniat_titre .edit{background:url('../images/common/sprite_edit_titre.png') -37px -2px;}

.content .toutes_partitions .liste_partitions .titres .paroles .miniat_titre .edit:hover{background-position:-37px -22px;}

.content .toutes_partitions .liste_partitions .titres .le_titre .play{width:17px;margin:-2px 0;}
.content .toutes_partitions .liste_partitions .titres .paroles{width:55px;height:21px;padding:0 10px;color:#555555; font-size:12px;border-right:1px solid #cbcbcb;}

.content .toutes_partitions .liste_partitions .titres .partitions .miniat_titre {display:inline;}
.content .toutes_partitions .liste_partitions .titres .partitions .miniat_titre a{width:17px;height:13px;display:inline;margin:0 2px 0 0;display:block;float:right;}
.content .toutes_partitions .liste_partitions .titres .partitions .miniat_titre span{display:inline-block; text-indent: -5000px;}
.content .toutes_partitions .liste_partitions .titres .partitions .miniat_titre .edit{background:url('../images/common/sprite_edit_titre.png') -37px -2px;}
.content .toutes_partitions .liste_partitions .titres .partitions .miniat_titre .cadis{background:url('../images/common/sprite_edit_titre.png') -76px -3px;}

.content .toutes_partitions .liste_partitions .titres .partitions .miniat_titre .edit:hover{background-position:-37px -22px;}
.content .toutes_partitions .liste_partitions .titres .partitions .miniat_titre .cadis:hover{background-position:-76px -23px;}
.content .toutes_partitions .liste_partitions .titres .partitions{width:95px;height:21px;padding:0 5px;color:#555555; font-size:12px;}

/* --------- FIN MUSICIEN PARTITIONS ----------*/
