/*
** Thème personnalisé - Profil musicien
**
** Thème 1
*/

body{
    background: url('../images/themes/theme_1.png') repeat 0 0 transparent;
} 
	
aside#right{
    background-color: rgba(255, 255, 255, 0.6);
} 
	
.content a{
    color: #8f598f;
} 
	
p.head-title, p.head-title span{
    color: #f283f2;
}