aside{ width:170px; height:100%; font-family:"Trebuchet MS"; color:white; background-color:#f9f9f9; float:left; }

	aside .row{ width:168px; height:35px; border:1px solid #d9dadb; border-top:none; }
	aside .row.head_menu{ background:url("../images/sidebar-left/sprite_bkg_menu-compte.png") no-repeat 0 0; }
	aside .row.head_menu:hover{ background-position:0 -36px; }
		aside .row a{ display:inline-block; width:100%; height:100%; text-decoration:none; line-height:35px; font-size:12px; color:#878d95; float:left; }
		aside .row a:hover{ color:#2ab395; }
		aside .row.head_menu a{ font-size:14px; color:#ffffff; }

/*
* SIDEBAR LEFT - FIRST BLOCK
*/
	aside #first-block{  margin:0 auto; width:170px; height:138px; font-size:16px; }
		aside a{ display:block; width:100%; height:100%; text-decoration:none; color:#3f3f3f; }

		aside #my-profil{ margin:0 auto; width:168px; height:77px; border:1px solid #d9dadb; border-top:none; background:url("../images/sidebar-left/bkg_first-block.jpg") no-repeat 0 0; }
			aside #my-profil img{ margin:20px 0 20px 10px; display:block; width:43px; height:43px; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; float:left; }
			aside #my-profil h3{ margin:27px 0 0 12px; display:inline-block; font-size:16px; font-weight:bold; float:left; }
			aside #my-profil span{ margin:2px 0 0 12px; display:inline-block; font-size:12px; font-weight:normal; color:#858585; float:left; }

		aside #listen-playlist{ width:168px; height:61px; border:1px solid #d9dadb; border-top:none; background:url("../images/sidebar-left/bkg_listen-playlist.jpg") no-repeat 0 0; }
			aside #listen-playlist img{ margin:10px 5px; display:inline-block; width:31px; height:31px; float:left; clear:both; }
			aside #listen-playlist span{ margin:0; display:inline-block; line-height:52px; font-size:12px; font-weight:bold; color:#3f3f3f; float:left; }

    aside #welcome-slyset{ width:168px; height:45px; border:1px solid #d9dadb; border-top:none; background:url("../images/sidebar-left/bkg_listen-playlist.jpg") no-repeat 0 0; }
      aside #welcome-slyset span{ display:block; width:100%; height:100%; line-height:45px; font-family:"Trebuchet MS", Arial, sans-serif; font-weight:normal; font-size:16px; text-align:center; color:#888d95; }
    aside #identification-block{ display:block; width:168px; border:1px solid #d9dadb; border-top:none; background:url("../images/sidebar-left/background_menu-identification2.png") no-repeat 0 0; float:left; }
    aside #identification-block .head_menu{ display:block; width:168px; height:35px; line-height:35px; border-top:none; background:url("../images/sidebar-left/sprite_bkg_menu-compte.png") no-repeat 0 0; }
      aside #identification-block .head_menu .icon{ margin:8px 6px 6px 6px; display:inline-block; width:19px; height:22px; background:url("../images/sidebar-left/sprite_categories.png") no-repeat 0 0; float:left; }
      aside #identification-block .head_menu .text{ display:inline-block; height:100%; line-height:36px; color:#FFFFFF; float:left; }
    aside #identification-block form{ margin:12px auto 5px auto; display:block; width:158px; height:120px; background:url("../images/sidebar-left/background_form-identification.png") no-repeat 0 0; }
    aside #identification-block form .icon{ margin:7px 7px; padding:0; display:inline-block; width:10px; height:10px; background:url("../images/sidebar-left/sprite_form-identification.png") no-repeat 0 0; float:left; }
    aside #identification-block form .icon.pwd{ background-position:0 -11px; }
     aside #identification-block input[type="text"], aside #identification-block input[type="password"]{ margin:0; padding:0 5px 0 0; display:inline-block; width:129px; height:26px; border:none; outline:none; font-family:"Myriad Pro", "Trebuchet MS", sans-serif; font-weight:normal; font-size:13px; color:#888D95; background:none; float:left; }
     aside #identification-block input[type="submit"]{ margin:15px auto 0 auto; padding:8px 35px; display:inline-block; width:100%; font-family:"Trebuchet MS", Arial, sans-serif; font-weight:bold; font-size:12px; text-align:center; text-decoration:none; -webkit-bord1er-radius:5px; -moz-border-radius:5px; border-radius: 5px; -moz-box-shadow:inset 1px 1px 10px rgba(0, 0, 0, 0.5); -webkit-box-shadow:inset 1px 1px 10px rgba(0, 0, 0, 0.5); box-shadow:inset 1px 1px 10px rgba(0, 0, 0, 0.5); text-shadow:1px 1px 0px #7a7a7a; border:none; color:#ffffff; background:-webkit-gradient(linear, 0 0, 0 100%, from(#e05e4c), to(#ef7463)); background:-moz-linear-gradient(top, #e05e4c, #ef7463); -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#e05e4c, endColorStr=#ef7463); filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#e05e4c, endColorStr=#ef7463); cursor:pointer; }
      aside #identification-block input[type="submit"]:hover{ background:-webkit-gradient(linear, 0 0, 0 100%, from(#ef7463), to(#e05e4c)); background:-moz-linear-gradient(top, #ef7463, #e05e4c); -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#ef7463, endColorStr=#e05e4c); filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#ef7463, endColorStr=#e05e4c); }
      aside #identification-block .forgot_password{ margin:6px 0; display:block; width:initial; height:initial; font-family:"Trebuchet MS", Arial, sans-serif; font-weight:normal; font-size:11px; text-align:center; text-decoration:none; color:#C3C3C3; float:left; clear:both; }
      aside #identification-block .forgot_password:hover{ text-decoration:underline; }
    aside #identification-block .form_error{ margin:5px 0 0 5px; display:block; width:100%; font-family:"Myriad Pro", "Trebuchet MS", sans-serif; font-weight:normal; font-size:13px; color:#e15f4e; float:left; clear:both; }
    aside #identification-block .identification-inscrire{ margin:15px 0 6px 5px; display:block; font-family:"Myriad Pro", "Trebuchet MS", sans-serif; font-weight:normal; font-size:13px; color:#888D95; float:left; clear:both; }
      aside #identification-block .identification-inscrire a{ display:block; text-decoration:none; color:#00a69c; float:left; clear:both; }
      aside #identification-block .identification-inscrire a:hover{ text-decoration:underline; }
/*
* SIDEBAR LEFT - MENU MY PAGE
*/
	#menu-account{ width:170px; height:100%; margin:0 auto; font-size:16px; }
		#menu-account .row .menu-text{ display:inline-block; height:100%; line-height:36px; float:left; }
		#menu-account .row.head_menu .icon{ margin:8px 6px; width:19px; height:22px; background:url("../images/sidebar-left/sprite_categories.png") no-repeat 0 0; float:left; }
		#menu-account .row .icon{ margin:1px 6px 0 6px; display:inline-block; width:22px; height:35px; background:url("../images/sidebar-left/sprite_menu-compte.png") no-repeat 0 0; float:left; }
		
		#menu-account .row.row-1 .icon{ background-position:0 0; }
		#menu-account .row.row-1:hover .icon{ background-position:-22px 0; }

		#menu-account .row.row-2 .icon{ background-position:0 -35px; }
		#menu-account .row.row-2:hover .icon{ background-position:-22px -35px; }

		#menu-account .row.row-3 .icon{ background-position:0 -70px; }
		#menu-account .row.row-3:hover .icon{ background-position:-22px -70px; }

		#menu-account .row.row-4 .icon{ background-position:0 -105px; }
		#menu-account .row.row-4:hover .icon{ background-position:-22px -105px; }

		#menu-account .row.row-5 .icon{ background-position:0 -140px; }
		#menu-account .row.row-5:hover .icon{ background-position:-22px -140px; }

		#menu-account .row.row-6 .icon{ background-position:0 -175px; }
		#menu-account .row.row-6:hover .icon{ background-position:-22px -175px; }
/*
* SIDEBAR LEFT - MENU MY PAGE
*/
	#menu-my-page{ width:170px; height:100%; margin:0 auto; font-size:16px; }
		#menu-my-page .row .menu-text{ display:inline-block; height:100%; line-height:36px; float:left; }
		#menu-my-page .row.head_menu .icon{ margin:8px 6px; width:19px; height:22px; background:url("../images/sidebar-left/sprite_categories.png") no-repeat 0 -22px; float:left; }
		#menu-my-page .row .icon{ margin:1px 6px 0 6px; display:inline-block; width:22px; height:35px; background:url("../images/sidebar-left/sprite_menu-my-page.png") no-repeat 0 0; float:left; }
		
		#menu-my-page .row.row-8 .icon{ background-position:0 0; }
		#menu-my-page .row.row-8:hover .icon{ background-position:-22px 0; }

		#menu-my-page .row.row-9 .icon{ background-position:0 -35px; }
		#menu-my-page .row.row-9:hover .icon{ background-position:-22px -35px; }

		#menu-my-page .row.row-10 .icon{ background-position:0 -70px; }
		#menu-my-page .row.row-10:hover .icon{ background-position:-22px -70px; }

		#menu-my-page .row.row-11 .icon{ background-position:0 -105px; }
		#menu-my-page .row.row-11:hover .icon{ background-position:-22px -105px; }

		#menu-my-page .row.row-12 .icon{ background-position:0 -140px; }
		#menu-my-page .row.row-12:hover .icon{ background-position:-22px -140px; }

		#menu-my-page .row.row-13 .icon{ background-position:0 -175px; }
		#menu-my-page .row.row-13:hover .icon{ background-position:-22px -175px; }

		#menu-my-page .row.row-14 .icon{ background-position:0 -210px; }
		#menu-my-page .row.row-14:hover .icon{ background-position:-22px -210px; }

		#menu-my-page .row.row-15 .icon{ background-position:0 -245px; }
		#menu-my-page .row.row-15:hover .icon{ background-position:-22px -245px; }

		#menu-my-page .row.row-16 .icon{ background-position:0 -280px; }
		#menu-my-page .row.row-16:hover .icon{ background-position:-22px -280px; }